{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

	<h1 class="ui header">{{ title }}</h1>

	{% if current_user.is_authenticated %}

  <!DOCTYPE html>
<html>
<h2 class="ui header">Hi {{ current_user.first_name }}! <br> Upload an Existing Photo below ... <br> ... or Click 'Upload a New Photo' to snap a photo with your webcam.</h2>
<body>

<form action="upload.php" method="post" enctype="multipart/form-data">
  Select image to upload:
  <input type="file" name="fileToUpload" id="fileToUpload">
  <input type="submit" value="Upload Existing Image" name="submit">
</form>

</body>
</html>



	{% endif %}

{% endblock %}
